production:
  url: {{ pollit.nuntium.url }}
  account: {{ pollit.nuntium.account_name }}
  password: {{ pollit.nuntium.account_pass }}
  application: {{ pollit.nuntium.application }}
  at_post_user: {{ pollit.nuntium.interface_user }}
  at_post_pass: {{ pollit.nuntium.interface_pass }}
