host: {{ hub.hostname | withdomain(hub.domainname) }}
authentication_token: secret

poirot:
  elasticsearch_url: false

{% if hub.google is defined %}
google:
  app_id: {{ hub.google.app_id }}
  client_id: {{ hub.google.client_id }}
  client_secret: {{ hub.google.client_secret }}
  browser_key: {{ hub.google.browser_key }}
{% endif %}
