rabbitmq:
  image: rabbitmq:3.5.3
  container_name: rabbitmq
  hostname: rabbitmq
  environment:
    RABBITMQ_ERLANG_COOKIE: {{ rabbitmq.cookie }}
  ports:
    - 5672
    - 15672
  volumes:
    - rabbitmq/log:/data/log
    - rabbitmq/mnesia:/data/mnesia

memcached:
  image: memcached:1.4.24
  container_name: memcached

web:
  image: instedd/nuntium:{{nuntium.version}}
  container_name: nuntium
  links: &links
    - rabbitmq
    - memcached
  external_links: &external_links
    - mysql
  environment: &environment
    RAILS_ENV: production
    DATABASE_URL: mysql2://root:root@mysql/nuntium
  volumes: &volumes
    - 'config/amqp.yml:/app/config/amqp.yml'
    - 'config/guisso.yml:/app/config/guisso.yml'
    - 'config/settings.yml:/app/config/settings.yml'
  ports:
    - {{ nuntium.port }}:80

cron: &service
  image: instedd/nuntium:{{nuntium.version}}
  links: *links
  external_links: *external_links
  environment: *environment
  volumes: *volumes
  command: "bundle exec lib/services/cron_daemon.rb"

workerfast:
  <<: *service
  environment:
    <<: *environment
    INSTANCE_ID: 1000
  command: "bundle exec lib/services/generic_worker_daemon.rb ${RAILS_ENV} fast ${INSTANCE_ID}"

workerslow:
  <<: *service
  environment:
    <<: *environment
    INSTANCE_ID: 2000
  command: "bundle exec lib/services/generic_worker_daemon.rb ${RAILS_ENV} slow ${INSTANCE_ID}"

xmpp:
  <<: *service
  command: "bundle exec lib/services/xmpp_service_daemon.rb"

smpp:
  <<: *service
  command: "bundle exec lib/services/smpp_service_daemon.rb"

msn:
  <<: *service
  command: "bundle exec lib/services/msn_service_daemon.rb"

sched:
  <<: *service
  command: "bundle exec lib/services/scheduled_jobs_service_daemon.rb"
