# {{ ansible_managed }}

rabbitmq:
  image: rabbitmq:3.5.3
  restart: "{{ docker.restart_policy }}"
  container_name: rabbitmq
  hostname: rabbitmq
  environment:
    RABBITMQ_ERLANG_COOKIE: {{ rabbitmq.cookie }}
  ports:
    - 5672
    - 15672
  volumes:
    - rabbitmq/log:/data/log
    - rabbitmq/mnesia:/data/mnesia

memcached:
  image: memcached:1.4.24
  restart: "{{ docker.restart_policy }}"
  container_name: memcached

web:
  image: instedd/nuntium:{{nuntium.version}}
  restart: "{{ docker.restart_policy }}"
  container_name: nuntium
  hostname: "{{ nuntium.hostname }}"
  domainname: "{{ nuntium.domainname }}"
  dns: "{{ ansible_docker0.ipv4.address }}"
  links: &links
    - rabbitmq
    - memcached
  external_links: &external_links
    - mysql
  environment: &environment
    RAILS_ENV: production
    DATABASE_URL: mysql2://root:root@mysql/nuntium
    WEB_BIND_URI: unix:///var/run/app.sock
  environment:
    <<: *environment
    VIRTUAL_HOST: "{{ nuntium.hostname | withdomain(nuntium.domainname) }}"
    DEFAULT_VIRTUAL_HOST: true
  volumes: &volumes
    - 'config/amqp.yml:/app/config/amqp.yml'
    - 'config/guisso.yml:/app/config/guisso.yml'
    - 'config/settings.yml:/app/config/settings.yml'

cron: &service
  image: instedd/nuntium:{{nuntium.version}}
  restart: "{{ docker.restart_policy }}"
  links: *links
  external_links: *external_links
  environment: *environment
  volumes: *volumes
  command: "bundle exec lib/services/cron_daemon.rb"
  dns: "{{ ansible_docker0.ipv4.address }}"

workerfast:
  <<: *service
  command: "bundle exec lib/services/generic_worker_daemon.rb production fast 1000"

workerslow:
  <<: *service
  command: "bundle exec lib/services/generic_worker_daemon.rb production slow 2000"

xmpp:
  <<: *service
  command: "bundle exec lib/services/xmpp_service_daemon.rb"

smpp:
  <<: *service
  command: "bundle exec lib/services/smpp_service_daemon.rb"

msn:
  <<: *service
  command: "bundle exec lib/services/msn_service_daemon.rb"

sched:
  <<: *service
  command: "bundle exec lib/services/scheduled_jobs_service_daemon.rb"
