rabbitmq:
  image: rabbitmq:3.5.3
  container_name: rabbitmq
  hostname: rabbitmq
  environment:
    RABBITMQ_ERLANG_COOKIE: {{ rabbitmq.cookie }}
  ports:
    - 5672
    - 15672
  volumes:
    - rabbitmq/log:/data/log
    - rabbitmq/mnesia:/data/mnesia

memcached:
  image: memcached:1.4.24
  container_name: memcached

web: &base
  image: instedd/nuntium:{{nuntium.version}}
  links:
    - rabbitmq
    - memcached
  external_links:
    - mysql
  environment: &environment
    RAILS_ENV: production
    DATABASE_URL: mysql2://root:root@mysql/nuntium
  volumes:
    - 'config/amqp.yml:/app/config/amqp.yml'
    - 'config/guisso.yml:/app/config/guisso.yml'
    - 'config/settings.yml:/app/config/settings.yml'
  ports:
    - {{ nuntium.port }}:80

workerfast:
  <<: *base
  environment:
    <<: *environment
    INSTANCE_ID: 1000
  command: "bundle exec lib/services/generic_worker_daemon.rb ${RAILS_ENV} fast ${INSTANCE_ID}"
  ports: []

workerslow:
  <<: *base
  environment:
    <<: *environment
    INSTANCE_ID: 2000
  command: "bundle exec lib/services/generic_worker_daemon.rb ${RAILS_ENV} slow ${INSTANCE_ID}"
  ports: []

xmpp:
  <<: *base
  ports: []
  command: "bundle exec lib/services/xmpp_service_daemon.rb"

smpp:
  <<: *base
  ports: []
  command: "bundle exec lib/services/smpp_service_daemon.rb"

msn:
  <<: *base
  ports: []
  command: "bundle exec lib/services/msn_service_daemon.rb"

cron:
  <<: *base
  ports: []
  command: "bundle exec lib/services/cron_daemon.rb"

sched:
  <<: *base
  ports: []
  command: "bundle exec lib/services/scheduled_jobs_service_daemon.rb"
