# {{ ansible_managed }}

web:
  image: instedd/guisso:{{ guisso.version }}
  container_name: guisso
  hostname: "{{ guisso.hostname }}"
  domainname: "{{ guisso.domainname }}"
  environment:
    RAILS_ENV: production
    DATABASE_URL: mysql2://root:{{ mysql.root_password }}@{{ ansible_docker0.ipv4.address }}/guisso
    RAILS_CONFIG__action_mailer__smtp_settings__address: smtp
    VIRTUAL_HOST: "{{ guisso.hostname | withdomain(guisso.domainname) }}"
  dns: "{{ ansible_docker0.ipv4.address }}"
  restart: "{{ docker.restart_policy }}"
  volumes:
    - 'config/settings.yml:/app/config/settings.yml'
    - 'log:/app/log'
