enabled: {{ verboice.guisso.enabled | lower }}
url: {{ verboice.guisso.url | default('') }}
client_id: {{ verboice_guisso.client_id | default('') }}
client_secret: {{ verboice_guisso.client_secret | default('') }}
